<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ServerIP" value="127.0.0.1"/>
        <add key="ServerPort" value="6000"/>
        <add key="RabbitMQServerIP" value="127.0.0.1"/>
        <add key="RabbitMQServerPort" value="5672"/>
        <add key="LogsQueueName" value="ServerLogs"/>
        <add key="GrpcApiHttpPort" value="8000"/>
        <add key="GrpcApiHttpsPort" value="8001"/>
    </appSettings>
</configuration>

